@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

nav {
  background-color: #191919;
}
.container-fluid {
  border-bottom: 1px solid #aaaaaa;
  margin: 0 2rem;
}

.navbar .navbar-nav {
  margin: auto;
  column-gap: 25px;
}

.navbar .navbar-nav a {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.navbar .navbar-nav .active {
  color: #d87d4a;
}
.carticon {
  justify-content: end;
}

@media (min-width: 769px) and (max-width: 1198px) {
  .container-fluid {
    margin: 0 5rem;
  }
}

@media (min-width: 1199px) {
  .container-fluid {
    margin: 0 10rem;
  }
}

@media (max-width: 990px) {
  .navbar .navbar-nav a {
    margin: 1.2rem 0;
  }
}
