@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

nav {
  background-color: #191919;
}
.container-fluid {
  border-bottom: 1px solid #aaaaaa;
  margin: 0 2rem;
}

.navbar .navbar-nav {
  margin: auto;
  column-gap: 25px;
}

.navbar .navbar-nav a {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.navbar .navbar-nav .active {
  color: #d87d4a;
}
.carticon {
  justify-content: end;
}
.checkout {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 0;
  padding: 13px 2rem;
  background-color: #d87d4a;
  text-transform: uppercase;
  width: 100%;
  margin: auto;
}

.checkout:hover {
  color: #f1f1f1;
  background-color: #fbaf85;
}

a {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #d87d4a;
}

.modal-footer .btn {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 0;
  padding: 13px 2rem;
  background-color: #d87d4a;
}
.modal-footer .btn:hover {
  color: #f1f1f1;
  background-color: #fbaf85;
}

#carttt {
  position: relative;
}
.itemsindicator {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #191919;
  background-color: #d87d4a;
  border-radius: 2rem;
  left: 70%;
  right: 0;
  top: -10%;
  bottom: 100%;
}

.namePrice {
  text-align: start;
}
.namePrice h5 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}
.namePrice h6 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.total h6 {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.total h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
ul {
  padding: 0;
}
li {
  display: flex;
  margin: 1rem 0;
}
li img {
  border-radius: 7px;
  margin-right: 1rem;
}
.maindiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal-content {
  padding: 0 1rem;
  width: 313px;
  margin: 5rem auto auto;
}

.modal-title h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
}
.modal-header button {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-decoration-line: underline;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: none;
  background: none;
  text-decoration: none;
}

@media (min-width: 769px) and (max-width: 1198px) {
  .container-fluid {
    margin: 0 4rem;
  }
}

@media (min-width: 1199px) {
  .container-fluid {
    margin: 0 7rem;
  }
  .modal-content {
    padding: 0 1rem;
    width: 313px;
    left: 95%;
    margin-top: 7rem;
  }
}

@media (max-width: 990px) {
  .navbar .navbar-nav a {
    margin: 1.2rem 0;
  }
}
